.header {
  max-height: 300px;
  overflow: hidden;
}

.header-img {
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
}

.navbar {
  min-height: 75px;
  box-shadow: 0 0 17px 2px black;
}

.navbar-brand {
  font-family: Pecita, serif;
  font-size: 2.5em;
  color: white !important;
  cursor: pointer;
}

.nav-link {
  margin-left: 5px;
  font-size: 17px;
  font-family: Ubuntu-regular, serif;
  transition: all 250ms ease-in;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.nav-link:hover {
  font-weight: bold;
  transition: all 250ms ease-out;
  background-color: lightgrey;
  color: #343a40 !important;
  box-shadow: inset 0px 0px 8px 0px black;
}

.fa-search {
  cursor: pointer;
  transform: scale(1);
  transition: all 50ms;

}

.fa-search:hover {
  transform: scale(1.15);
  transition: all 50ms;
}

.nav-item {
  cursor: pointer;
}
