.header {
  max-height: 300px;
  overflow: hidden;
}

.header-img {
  display:block;
  width:100%;
  object-fit: cover;
  object-position: 50% 80%;
}

.navbar {
  min-height: 75px;
}

.navbar-brand {
  font-family: Pecita, serif;
  font-size: 2.5em
}

.nav-link {
  font-size: 17px;
  transform: scale(1);
  transition: all 50ms ease-in;
}

.nav-link:hover {
  font-size: 17px;
  transform: scale(1.15);
  transition: all 50ms ease-in;
}

.fa-search {
  cursor: pointer;
  transform: scale(1);
  transition: all 50ms;

}

.fa-search:hover {
  transform: scale(1.15);
  transition: all 50ms;
}

@font-face { font-family: Relaxing_Blaze; src: url('/assets/Vtks Relaxing Blaze.ttf'); }
@font-face { font-family: Pecita; src: url('/assets/Pecita.otf'); }
@font-face { font-family: Amaranth; src: url('/assets/Amaranth-Bold.ttf'); }
@font-face { font-family: Amaranth-regular; src: url('/assets/Amaranth-Regular.ttf'); }
