.header {
  max-height: 300px;
  overflow: hidden;
}

.header-img {
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
}

.navbar {
  min-height: 75px;
}

.navbar-brand {
  font-family: Pecita, serif;
  font-size: 2.5em;
  color: white !important;
  cursor: pointer;
}

.nav-link {
  font-size: 17px;
  transform: scale(1);
  transition: all 50ms ease-in;
}

.nav-link:hover {
  font-size: 17px;
  transform: scale(1.15);
  transition: all 50ms ease-in;
}

.fa-search {
  cursor: pointer;
  transform: scale(1);
  transition: all 50ms;

}

.fa-search:hover {
  transform: scale(1.15);
  transition: all 50ms;
}

.nav-item {
  cursor: pointer;
}
