.list-group-item {
  background-color: lightgrey;
  transition: all 200ms;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: darkgrey;
  transition: all 200ms;
}

.container {
  min-height: 400px;
}
