<div class="container my-5">
  <div class="card-container">
    <div class="card mb-3">
      <img class="card-img-top" [src]="article.image" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> {{ article.title }} </h5>
        <p class="card-text"> {{ article.description }} </p>
        <p class="card-text"><small class="text-muted"><i class="fas fa-calendar-alt mr-1"></i> {{ article.date | date }} </small></p>
        <p class="card-text"><span class="back" (click)="onBack()"><small class="text-muted"><i class="fas fa-arrow-left mr-1"></i> Back </small></span></p>
      </div>
    </div>
  </div>
</div>
